{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<h3 class="text-center"><strong>{{=comic.title}}</strong></h3>
		<p class="text-center">Issue No. {{=comic.issue_no}}</p>
		<img class="comic-cover-image" src="{{=URL('download', args=comic.image)}}" />
		{{if len(comic.writers) > 0:}}
		<p>Writers: {{=','.join(comic.writers)}}</p>
		{{pass}}
		{{if len(comic.artists) > 0:}}
		<p>Writers: {{=','.join(comic.artists)}}</p>
		{{pass}}
		<p>Publisher: {{=comic.publisher}}</p>
		<p>{{=comic.description}}</p>
		<div style="clear: both"></div>
	</div>