	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Y0072003 &lt;Y0072003@example.com&gt;" />
	<meta name="description" content="Keep your comics sorted. An application for storing and sorting your comic collection." />
	<meta name="keywords" content="comics" />
	<link rel="shortcut icon" href="{{=URL('static', 'images/favicon.ico')}}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{=URL('static', 'images/favicon.png')}}">
	{{include 'web2py_ajax.html'}}