<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Y0072003 &lt;Y0072003@example.com&gt;" />
	<meta name="description" content="Keep your comics sorted. An application for storing and sorting your comic collection." />
	<meta name="keywords" content="comics" />
	<title>{{=DEFAULT_TITLE if response.title == DEFAULT_TITLE else str(response.title) + " | " + DEFAULT_TITLE}}</title>
	<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-theme.min.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static', 'css/web2py-bootstrap3.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static', 'css/longboxes.css')}}"/>
	<link rel="shortcut icon" href="{{=URL('static', 'images/favicon.ico')}}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{=URL('static', 'images/favicon.png')}}">
</head>