	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{=URL('index')}}">Longboxes</a>
			</div>
			
			<ul class="nav navbar-nav navbar-collapse">
        <li><a href="{{=URL('search')}}">Search</a></li>
      </ul>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
				{{
				if auth.is_logged_in():
					=LI(A(get_display_name(auth.user), _href=URL('user', args=['view_boxes'])))
					=LI(A(T('Sign Out'), _href=URL('user', args=['logout'], vars=dict(_next=URL('index')))))
					pass
				else:
					=LI(A(T('Sign In'), _href=URL('user', args=['login'], vars=dict(_next=URL('user', args=['view_boxes'])))))
					pass
				}}
				</ul>
			</div>
		</div>
	</nav>