{{# Y0072003}}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{=URL('index')}}">Longboxes</a>
			</div>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{=URL('comics', 'create')}}">Add a Comic</a></li>
					<li><a href="{{=URL('boxes', 'create')}}">Add a Box</a></li>
					<li><a href="{{=URL('main', 'search')}}">Search Comics</a></li>
					<li><a href="{{=URL('main', 'search_users')}}">Search Users</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					{{=sign_in_and_out()}}
				</ul>
			</div>
		</div>
	</nav>