.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

img.comic-cover-image {
	float: left;
	margin: 0 15px 0 0;
	display: block;
	max-width: 300px;
	max-height: 400px;
	width: auto;
	height: 100%;
}

div.comic-preview {
	margin-top: 2%;
	margin-bottom: 2%;
}

img.comic-thumbnail {
	float: left;
	margin: 1px 1px 1px 1px;
	display: block;
	max-width: 150px;
	max-height: 200px;
	width: auto;
	height: 100%;
}

div.comic-title {
	font-size: large;
	margin-left: 5px;
}

div.comic-issue-no {
	font-size: medium;
	margin-left: 5px;
}

div.comic-owner {
	font-size: medium;
	margin-left: 5px;
}

div.comic-full-writers {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.comic-full-artists {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.comic-full-publisher {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.comic-full-description {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.box-preview {
	margin-top: 2%;
	margin-bottom: 2%;
}

div.box-image {
	position: relative;
}

img.box-thumbnail {
	display: block;
	max-width: 150px;
	max-height: 200px;
	height: 100%;
	margin: auto;
}

img.box-indicator {
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}

.box-name {
	text-align: center;
}

.box-comic-count {
	text-align: center;
}

.box-owner {
	text-align: center;
}

div.user-preview {
	padding-top: 2%;
	padding-bottom: 2%;
}

div.user-image {
	position: relative;
}

img.user-thumbnail {
	display: block;
	max-width: 150px;
	max-height: 200px;
	height: 100%;
	margin: auto;
}

.user-indicator {
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}

.user-display-name {
	text-align: center;
}

.user-boxes {
	text-align: center;
}

div.clear-floats {
	clear: both;
}

.glyphicon-spaced {
  margin-left: 8px;
  margin-right: 8px;
}

#site-search, #user-filter {
	width: 80%
}
