img.comic-cover-image {
	float: left;
	margin: 1px 1px 1px 1px;
	display: block;
	max-width: 300px;
	max-height: 400px;
	width: auto;
	height: 100%;
}

div.comic-preview {
	margin-top: 2%;
	margin-bottom: 2%;
}

img.comic-thumbnail {
	float: left;
	margin: 1px 1px 1px 1px;
	display: block;
	max-width: 150px;
	max-height: 200px;
	width: auto;
	height: 100%;
}

div.comic-title {
	font-size: large;
	margin-left: 5px;
}

div.comic-issue-no {
	font-size: medium;
	margin-left: 5px;
}

div.comic-owner {
	font-size: medium;
	margin-left: 5px;
}

div.box-preview {
	margin-top: 2%;
	margin-bottom: 2%;
}

img.box-thumbnail {
	margin: 1px 1px 1px 1px;
	display: block;
	max-width: 150px;
	max-height: 200px;
	width: auto;
	height: 100%;
}

div.user-preview {
	margin-top: 2%;
	margin-bottom: 2%;
}

div.clear-floats {
	clear: both;
}

#site-search, #user-filter {
	width: 80%
}
