{{# Y0072003}}
{{extend 'longboxes.html'}}
	
	<div class="container-fluid">
		<h2 class="text-center">Search Users</h2>

		<div class="col-md-2"></div>

		<div class="col-md-8">
			{{=filter}}
		</div>
		
		<div class="col-md-2"></div>
		
		<div class="col-md-12" style="margin-bottom: 20px;"></div>
		
		<div class="col-md-1"></div>

		<div class="col-md-10">
			{{if len(results_html) > 0:}}
			{{for comic_html in results_html:}}
			{{=DIV(comic_html, _class='col-sm-3 col-md-2')}}
			{{pass}}
			{{elif filter_complete:}}
			{{=DIV('No results', _class='col-md-10')}}
			{{pass}}
		</div>
		
		<div class="col-md-1"></div>
	</div>
	
	{{block page_js}}
	<script>
	var first_field = "#user-filter";
	</script>
	
	<script src="{{=URL('static', 'js/form-focus.js')}}" type="text/javascript"></script>
	{{end page_js}}