{{# Y0072003}}
{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<div class="box-collection">
			<h2 class="text-center">All Comics</h2>
			<p class="text-center">
				{{
				if auth.user and user.id == auth.user.id:
					=A('(Switch to Box View)', _href=URL('main', 'user', args=['view_boxes']))
					pass
				else:
					=A('(Switch to Box View)', _href=URL('main', 'user', args=['view_boxes'], vars=dict(id=user.id)))
					pass
				}}
			</p>
			{{if len(users_boxes_html) > 0:}}
			{{for box_comics in users_boxes_html:}}
			<div class="col-md-12">
				<h3>{{=A(box_comics[0].name, _href=URL('boxes', 'box', vars=dict(id=box_comics[0].id)))}}</h3>
				{{if len(box_comics[1]) > 0:}}
				{{for comic_html in box_comics[1]:}}
				{{=DIV(comic_html, _class='col-sm-6 col-md-4')}}
				{{pass}}
				{{else:}}
				{{=DIV('Empty', _class='col-md-12')}}
				{{pass}}
			</div>
			{{pass}}
			{{pass}}
			{{
			if auth.user and auth.user.id == user.id:
				=options
				pass
			}}
		</div>
	</div>