{{# Y0072003}}
{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<div class="box-collection">
			<h2 class="text-center">All Boxes</h2>
			<p class="text-center">
				{{
				if auth.user and user.id == auth.user.id:
					=A('(Switch to Comic View)', _href=URL('main', 'user', args=['view_comics']))
					pass
				else:
					=A('(Switch to Comic View)', _href=URL('main', 'user', args=['view_comics'], vars=dict(id=user.id)))
					pass
				}}
			</p>
			{{if len(users_boxes_html) > 0:}}
			{{for box_html in users_boxes_html:}}
			{{=DIV(box_html, _class='col-sm-4 col-md-2')}}
			{{pass}}
			{{pass}}
			{{
			if auth.user and auth.user.id == user.id:
				=DIV(new_box_icon(), _class='col-sm-4 col-md-2')
				pass
			}}
		</div>
	</div>