{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<h2 class="text-center"><strong>{{=box.name}}</strong></h2>
		<h4 class="text-center">
			{{if auth.user and auth.user.id == box.user_id:}}
			{{='Public' if box.visible else 'Private'}}
			{{pass}}
		</h4>
		<h4 class="text-center">Created on {{=box.creation_date}}</h4>
		<h3 class="text-center">
			{{
				if auth.user and auth.user.id == owner.id:
					=A(SPAN(_class='glyphicon glyphicon-pencil glyphicon-spaced'), _title='Edit', _href=URL('boxes', 'edit', vars=dict(id=box.id)))
					=SPAN()
					=A(SPAN(_class='glyphicon glyphicon-trash glyphicon-spaced'), _title='Delete', _href=URL('boxes', 'remove', vars=dict(id=box.id)))
					pass
			}}
		</h3>
		<div class="col-xs-12" style="margin-bottom: 20px;"></div>
		
		{{if len(comics_html) > 0:}}
		{{for comic_html in comics_html:}}
		{{=DIV(comic_html, _class='col-sm-6 col-md-4')}}
		{{pass}}
		{{pass}}
		{{
		if auth.user and auth.user.id == owner.id:
			=DIV(new_comic_icon(box), _class='col-sm-6 col-md-4')
			pass
		}}
	</div>