{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<h2 class="text-center">
			<strong>{{=comic.title}}</strong>
			{{
			if auth.user and auth.user.id == owner.id:
				=A(SPAN(_class='glyphicon glyphicon-pencil'), _href=URL('comics', 'edit', vars=dict(id=comic.id, box_id=box_id)))
				=A(SPAN(_class='glyphicon glyphicon-trash'), _href=URL('comics', 'remove', vars=dict(id=comic.id, box_id=box_id)))
				=A(SPAN(_class='glyphicon glyphicon-arrow-right'), _href=URL('comics', 'move', vars=dict(id=comic.id, box_id=box_id)))
				pass
			
			=A(SPAN(_class='glyphicon glyphicon-duplicate'), _href=URL('comics', 'copy', vars=dict(id=comic.id, box_id=box_id)))
			}}
		</h2>
		<p class="text-center">Issue No. {{=comic.issue_no}}</p>
		<img class="comic-cover-image" src="{{=URL('main', 'download', args=comic.image)}}" />
		{{if len(comic.writers) > 0:}}
		<p>Writers: {{=', '.join(comic.writers)}}</p>
		{{pass}}
		{{if len(comic.artists) > 0:}}
		<p>Artists: {{=', '.join(comic.artists)}}</p>
		{{pass}}
		<p>Publisher: {{=comic.publisher}}</p>
		<p>{{=comic.description}}</p>
		<div style="clear: both"></div>
	</div>