{{extend 'longboxes.html'}}

	<div class="container-fluid">
		<h2 class="text-center">
			<strong>{{=comic.title}}</strong>
			{{
			if auth.user and auth.user.id == owner.id:
				=A(SPAN(_class='glyphicon glyphicon-pencil'), _href=URL('comics', 'edit_comic', vars=dict(id=comic.id)))
				=A(SPAN(_class='glyphicon glyphicon-trash'), _href=URL('comics', 'remove_comic', vars=dict(id=comic.id)))
				pass
			else:
				=A(SPAN(_class='glyphicon glyphicon-share-alt'), _href=URL('comics', 'copy_comic', vars=dict(id=comic.id)))
				pass
			}}
		</h2>
		<p class="text-center">Issue No. {{=comic.issue_no}}</p>
		<img class="comic-cover-image" src="{{=URL('main', 'download', args=comic.image)}}" />
		{{if len(comic.writers) > 0:}}
		<p>Writers: {{=', '.join(comic.writers)}}</p>
		{{pass}}
		{{if len(comic.artists) > 0:}}
		<p>Writers: {{=', '.join(comic.artists)}}</p>
		{{pass}}
		<p>Publisher: {{=comic.publisher}}</p>
		<p>{{=comic.description}}</p>
		<div style="clear: both"></div>
	</div>